.header {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    width: 100%;
    margin: auto;
    align-items: center;
}

.header a { 
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: 600;
}

.header a:hover { 
   text-decoration: underline;
   color: salmon;
   font-weight: 900;
}

.icons {
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
}


.logo {
    width: 100px;
}

.icons:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 760px) {
    .header a { 
        font-size:5px;
    }
    .icons {
        font-size: 10px;
    }
    .header {
        padding: 10px;
    }
}