.hero {
    background-color: black;
}


.hero_img {
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

@keyframes  blur {
    0% {
      backdrop-filter: blur(10px);
    }
    100% {
      backdrop-filter: blur(0);
    }
  }
  
  .blur {
      background-color: rgba(0, 0, 0, 0.164);
    height: 100%;
    animation-name: blur;
    animation-duration: 4s;
    display: flex;
    flex-direction: column;
  }

.content {
    color: white;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 50px;
    animation-name: message;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes message {
    0% {
      opacity: 0;
      transform:translate(0, -300px)
    }
    50% {
      transform:translate(0, 0);
    }
    100% {
      opacity: 1;
    }
}

.content p {
   padding: 50px;
   font-weight: 600;
   text-align: justify; 
}

.btn_content {
    color: white;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    width: 200px;
    font-weight: 800;
}

.container_btn {
    padding: 20px;
}

.btn_content:hover {
    background-color: salmon;
}

@media screen and (max-width: 768px) {
    .content {
      width: 100%;
    }
    .content h1 {
        font-size: 20px;
    }
    .content p {
        font-size: 12px;
        padding: 20px;
     }
     .btn_content {
         display: flex;
        width: 150px;
    }
}

@media screen and (max-width: 320px )  and (min-width: 280px) {
    .content {
        width: 100%;
      }
      .content h1 {
          font-size: 12px;
      }
      .content p {
          font-size: 10px;
          padding: 10px;
       }
       .btn_content {
          width: 150px;
          padding: 10px;
          font-weight: 500;
      }
}